<ion-header>
  <ion-toolbar>
    <ion-title>Person Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="personDetails">

  <img
    *ngIf="personDetails.profile_path"
    [src]="getProfileUrl(personDetails.profile_path)"
    alt="Person image">

  <p *ngIf="!personDetails.profile_path">
    No image
  </p>

  <h1>{{ personDetails.name }}</h1>

  <p *ngIf="personDetails.birthday">
    <strong>Date of Birth:</strong>
    {{ personDetails.birthday }}
  </p>

  <p *ngIf="personDetails.deathday">
    <strong>Date of Death:</strong>
    {{ personDetails.deathday }}
  </p>

  <p *ngIf="personDetails.also_known_as?.length">
    <strong>AKA:</strong>
    {{ personDetails.also_known_as.join(', ') }}
  </p>

  <p *ngIf="personDetails.place_of_birth">
    <strong>Place of Birth:</strong>
    {{ personDetails.place_of_birth }}
  </p>

  <p *ngIf="personDetails.biography">
    <strong>Biography:</strong>
    {{ personDetails.biography }}
  </p>

  <h2>Other Movies</h2>

  <ion-card
    *ngFor="let movie of movies"
    (click)="openMovie(movie)">

    <img
      *ngIf="movie.poster_path"
      [src]="getPosterUrl(movie.poster_path)"
      alt="Movie poster">

    <p *ngIf="!movie.poster_path">
      No image
    </p>

    <ion-card-header>
      <ion-card-title>
        {{ movie.title }}
      </ion-card-title>
    </ion-card-header>

  </ion-card>

</ion-content>