<ion-header>
  <ion-toolbar>
    <ion-title>Movie Details</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goHome()">🏠</ion-button>
      <ion-button (click)="goFavourites()">❤️</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngIf="movie">
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ movie.overview }}
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="toggleFavourite()">
    {{ isFavourite ? 'Remove From Favourites' : 'Add To Favourites' }}
  </ion-button>

  <h2>Cast</h2>

  <ion-card *ngFor="let person of cast" (click)="openPerson(person)">
    <img *ngIf="person.profile_path"
         [src]="getProfileUrl(person.profile_path)"
         alt="Cast image">

    <p *ngIf="!person.profile_path">No image</p>

    <ion-card-header>
      <ion-card-title>{{ person.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Character: {{ person.character }}
    </ion-card-content>
  </ion-card>

  <h2>Crew</h2>

  <ion-card *ngFor="let person of crew" (click)="openPerson(person)">
    <img *ngIf="person.profile_path"
         [src]="getProfileUrl(person.profile_path)"
         alt="Crew image">

    <p *ngIf="!person.profile_path">No image</p>

    <ion-card-header>
      <ion-card-title>{{ person.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Job: {{ person.job }}
    </ion-card-content>
  </ion-card>

</ion-content>