<ion-header>
  <ion-toolbar>
    <ion-title>Movie Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngIf="movie">
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ movie.overview }}
    </ion-card-content>
  </ion-card>

  <h2>Cast</h2>

  <ion-card *ngFor="let person of cast">

    <img
      *ngIf="person.profile_path"
      [src]="getProfileUrl(person.profile_path)"
      alt="Cast image">

    <p *ngIf="!person.profile_path">
      No image
    </p>

    <ion-card-header>
      <ion-card-title>{{ person.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Character: {{ person.character }}
    </ion-card-content>

  </ion-card>

  <h2>Crew</h2>

  <ion-card *ngFor="let person of crew">

    <img
      *ngIf="person.profile_path"
      [src]="getProfileUrl(person.profile_path)"
      alt="Crew image">

    <p *ngIf="!person.profile_path">
      No image
    </p>

    <ion-card-header>
      <ion-card-title>{{ person.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Job: {{ person.job }}
    </ion-card-content>

  </ion-card>

</ion-content>