<ion-header>
  <ion-toolbar>
    <ion-title>G00425757</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-input
    label="Search"
    label-placement="stacked"
    placeholder="Movie Name"
    [(ngModel)]="searchTerm">
  </ion-input>

  <ion-button expand="block" (click)="searchMovies()">
    SEARCH
  </ion-button>

  <h2>Today's Trending Movies</h2>

  <ion-card *ngFor="let movie of movies">
    <img [src]="movie.image" alt="Movie poster">

    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
      <ion-card-subtitle>{{ movie.year }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>