<ion-header>
  <ion-toolbar>
    <ion-title>{{ studentNumber }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      [(ngModel)]="searchTerm"
      placeholder="Movie Name">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="searchMovies()">
    SEARCH
  </ion-button>

  <h2>
    {{ searchTerm ? 'Search Results' : "Today's Trending Movies" }}
  </h2>

  <ion-card
    *ngFor="let movie of movies"
    (click)="openMovie(movie)">

    <img
      *ngIf="movie.poster_path"
      [src]="getPosterUrl(movie.poster_path)"
      alt="Movie poster">

    <ion-card-header>
      <ion-card-title>
        {{ movie.title }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ movie.overview }}
    </ion-card-content>

  </ion-card>

</ion-content>